<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlhOJhjLvBsWbfBCi8oDw4sEmUhp5Ss54</string>
	<key>GCM_SENDER_ID</key>
	<string>662434374039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avendanod.todoey</string>
	<key>PROJECT_ID</key>
	<string>to-doey-bb4ac</string>
	<key>STORAGE_BUCKET</key>
	<string>to-doey-bb4ac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662434374039:ios:04e1f473c69bb59b0924d2</string>
</dict>
</plist>